.vs/
LightController.sln

LightController/bin
LightController/obj
LightController/Properties
LightController/img

LightController/App.config
LightController/Form1.resx
LightController/LightController.csproj